ol.git-log {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.git-log li.commit {
  margin-left: 0;
}

ol.git-log .header dt {
  font-weight: bold;
  text-transform: capitalize;
}

ol.git-log .message, ol.git-log .header, ol.git-log .files{
  margin: 10px;
  padding: 10px;
  background: #F0FFF0;
  border: 1px solid #999999;
}

ol.git-log .header {
  background: #F0FFFF;
}

ol.git-log .files {
  background: #FFFFF0;
}

ol.git-log ul.files {
  list-style: none;
}

ol.git-log ul.files li {
  background-image: none;
}

ol.git-log ul.files span.file-status {
  padding: 2px;
}

ol.git-log ul.files li.file-m span.file-status {
  background-color: #FFFFAA;
}

ol.git-log ul.files li.file-a span.file-status {
  background-color: #AAFFAA;
}

ol.git-log ul.files li.file-d span.file-status {
  background-color: #FFAAAA;
}